{% extends "layout/base.html" %}

{% block content %}

<h2>Cập nhật khóa học</h2>

{% if error %}
    <p style="color:red">{{ error }}</p>
{% endif %}

<form method="POST" enctype="multipart/form-data">

    <div>
        <label>Tên khóa học</label>
        <input
            type="text"
            name="name"
            value="{{ course.name }}"
            required>
    </div>

    <br>

    <div>
        <label>Mô tả</label>
        <textarea
            name="description"
            rows="5"
            cols="50"
            required>{{ course.description }}</textarea>
    </div>

    <br>

    {% if course.image %}
        <div>
            <img src="{{ course.image }}" width="250">
        </div>
        <br>
    {% endif %}

    <div>
        <label>Đổi hình ảnh</label>
        <input type="file" name="image">
    </div>

    <br>

    <div>
        <label>Danh mục</label>

        {% for c in categories %}
            <div>
                <input
                    type="checkbox"
                    name="category_ids"
                    value="{{ c.id }}"
                    id="cate{{ c.id }}"

                    {% for cc in course.course_category %}
                        {% if cc.category_id == c.id %}
                            checked
                        {% endif %}
                    {% endfor %}
                >

                <label for="cate{{ c.id }}">
                    {{ c.name }}
                </label>
            </div>
        {% endfor %}
    </div>

    <br>

    <button type="submit">
        Cập nhật
    </button>

    <a href="{{ url_for('course_detail', course_id=course.id) }}">
        Hủy
    </a>

</form>

{% endblock %}