.git
.gitignore
.gitattributes
.github

.env
.env.*
!.env.example

.venv
venv

__pycache__
*.py[cod]
.pytest_cache
.coverage
coverage.xml
htmlcov

.idea
.vscode

*.log
*.sqlite
instance

tests
pytest.ini
requirements-test.txt
ruff.toml
.ruff_cache

README.md
docs