SECRET_KEY='your secret key'
DB_URI=mysql+pymysql://root:Thanhdat2311%40@localhost/elearn?charset=utf8mb4

GOOGLE_CLIENT_ID='your secret key'
GOOGLE_CLIENT_SECRET='your secret key'

CLOUD_NAME='your secret key'
CLOUD_KEY='your secret key'
CLOUD_SECRET='your secret key'