<div id="chatInputContainer"
     class="chat-input-container d-none">

    <form id="messageForm">

        <div class="chat-input-wrapper">

            <button
                type="button"
                class="btn btn-light chat-input-btn"
                id="attachmentBtn">

                <i class="bi bi-paperclip"></i>

            </button>


            <input
                type="text"
                id="messageInput"
                class="form-control chat-input"
                placeholder="Nhắn tin..."
                autocomplete="off"
            >


            <button
                type="button"
                class="btn btn-light chat-input-btn"
                id="emojiBtn">

                <i class="bi bi-emoji-smile"></i>

            </button>


            <button
                type="submit"
                class="btn btn-primary chat-send-btn">

                <i class="bi bi-send"></i>

            </button>

        </div>

    </form>

</div>