<div class="chat-header">

    <div id="chatHeaderEmpty" class="chat-header-empty">

        <i class="bi bi-chat-dots"></i>

        <span>
            Chọn một cuộc trò chuyện
        </span>

    </div>


    <div id="chatHeaderContent"
         class="chat-header-content d-none">

        <div class="chat-header-avatar-wrapper">

            <div id="chatHeaderAvatar"
                 class="chat-avatar">
                ?
            </div>

            <span id="chatHeaderOnline"
                  class="chat-online">
            </span>

        </div>


        <div class="chat-header-info">

            <p id="chatHeaderName"
               class="chat-header-name">
            </p>

            <p id="chatHeaderStatus"
               class="chat-header-status">
            </p>

        </div>


        <div class="chat-header-actions ms-auto">

            <button
                type="button"
                class="btn btn-light"
                id="searchMessageBtn">

                <i class="bi bi-search"></i>

            </button>

            <button
                type="button"
                class="btn btn-light">

                <i class="bi bi-three-dots-vertical"></i>

            </button>

        </div>

    </div>

</div>